@model IEnumerable<RTS.Models.Account>
@{
    ViewBag.Title = "DateReport";
}

<divy  style="padding: 3px; text-align: end; display: block;margin:4px">
    <button class="btn btn-warning" onclick="printReport()">Print</button>
</divy>


<div class="card">

    <div class="card-body">
        @if (Model != null)
        {
            int c = 0;
            <table class="table table-responsive-sm table-bordered table-light" id="tbl">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Account No.</th>
                        <th>Ward No.</th>
                        <th>SubDivision</th>
                        <th>Address</th>
                        <th>Property No</th>
                        <th>Arears</th>
                        <th>Action</th>
                        <th>Action Date</th>
                        <th>Amount Recovered</th>
                        <th id="thmap">Location</th>
                        <th id="thimage">Image</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @foreach (var a in Model)
                    {
                        c++;

                        <tr>
                            <td>@c</td>
                            <td>@a.Account_No</td>
                            <td>@a.Ward.ward_desc</td>
                            <td>@a.Ward.SubDivision.subdivision_desc</td>
                            <td>@a.address</td>
                            <td>@a.propertyNo</td>
                            <td>@a.amount_due</td>
                            <td>@a.accountStatu.value</td>
                            <td>@a.visit_date.Value.ToShortDateString()</td>
                            <td>@a.partialPayment</td>
                            
                            <td>
                                @if (a.visit_long != 0)
                                {<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#largeModal" onclick="ShowMapModal(@a.visit_lat,@a.visit_long)">Map</button>
                                }
                            </td>
                            @if (a.Image != null)
                            {
                                <td>
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered" onclick="ShowImageModal('@a.Image')">Image</button>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>

</div>
<div class="modal  " id="largeModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Map</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map" style="width:100%;height:400px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal  " id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="img" style="width:80%"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              @*  <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $("document").ready(function () {
            var table =    $("#tbl").DataTable(
                {

                    info: false,
                    paging: false,
                    //searching: false,
                    sort: false,

                }
            );
            $('#tbl thead th').each(function () {
                var title = $(this).text();
                if (title !== 'Ward No.' &&title !== 'SubDivision' ) { // Replace 'Date' with the actual column header
                   // $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                } else {
                    var select = $('<select><option value="">All</option></select>')
                        .appendTo($(this).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            table.column($(this).parent().index()).search(val ? '^' + val + '$' : '', true, false).draw();
                        });

                    table.column($(this).index()).data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                }
            });

            // Apply the DataTable search functionality
            table.columns().every(function () {
                var that = this;

                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });

        function printReport() {
            document.getElementById("thimage").style.display = 'none';
            document.getElementById("thmap").style.display = 'none';
            var tbody = document.getElementById("tbody");
            for (var i = 0; i < tbody.children.length; i++) {
                tbody.children[i].children[10].style.display = 'none';
                tbody.children[i].children[11].style.display = 'none';
            }
             
            var tbl = document.getElementById("tbl").innerHTML;

            document.getElementById("thimage").style.display = '';
            document.getElementById("thmap").style.display = '';
            for (var i = 0; i < tbody.children.length; i++) {
                tbody.children[i].children[10].style.display = '';
                tbody.children[i].children[11].style.display = '';
            }
            var printWindow = window.open('', '', 'width=800, height=600');
            printWindow.document.open();
            printWindow.document.write('<html><head><title>Print Table</title>');
            printWindow.document.write('<style>td, th {border: 1px solid black; padding: 5px; }</style>');
            printWindow.document.write('</head><body>');
            printWindow.document.write('<table style="border-collapse: collapse;">' + tbl + '</table>');

            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }

        function ShowImageModal(Image) {
            var url = '../../api/Content/AppImages/' + Image;
             document.getElementById("img").src = url;
        }
        function ShowMapModal(lat, long) {
            let map;

            async function initMap() {
                // The location of Uluru
                const position = { lat: lat, lng: long};
                // Request needed libraries.

                const { Map } = await google.maps.importLibrary("maps");
                const { AdvancedMarkerView } = await google.maps.importLibrary("marker");

                // The map, centered at Uluru
                map = new Map(document.getElementById("map"), {
                    zoom: 14,
                    center: position,
                    mapId: "DEMO_MAP_ID",
                });

                // The marker, positioned at Uluru
                const marker = new AdvancedMarkerView({
                    map: map,
                    position: position,
                    title: "Uluru",
                });
            }

            initMap();
        }
    </script>
}