@model IEnumerable<RTS.Models.Ward>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="wardsTable">
    <thead>
        <tr>
            <th>
                Ward Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ward_desc)
            </th>
            <th>
              Town
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubDivision.subdivision_desc)
            </th>
            <th>
                AFI Ticket
            </th>
            <th>
                AFI Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ward_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubDivision.Town.town_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubDivision.subdivision_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AFI.ticket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AFI.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
            $("document").ready(function () {
                $("#wardsTable").DataTable();
            });

    </script>
}