@model IEnumerable<RTS.Models.Ward>

@{
    ViewBag.Title = "Index";
}

<div class="card">
    <h2 class="card-header">Wards</h2>
    <div class="card-body">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table" id="wardsTable">
            <thead>
                <tr>
                    <th>
                        Ward
                    </th>
                    <th>
                        Sub Division
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ward_desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubDivision.subdivision_desc)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                           @* @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
        @section Scripts {
            <script>
                $("document").ready(function () {
                    $("#wardsTable").DataTable();
                });

            </script>
        }
