@model RTS.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.amount_due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount_due)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.walk_sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.walk_sort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_payment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_payment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Connection_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connection_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current_Demand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current_Demand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propertyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propertyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visit_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visit_lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit_lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visit_long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit_long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_assigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_assigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partialPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partialPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward.ward_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward.ward_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountStatu.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountStatu.value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
